* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.container button {
    border: none;
    cursor: pointer;
    color: white;
    background-color: rgb(54, 54, 54);
    font-size: 1.2em;
    font-weight: 900;
    width: 182px;
    height: 92px;
    padding: 2em;
    margin: 1em;
}

.container button:hover {
    color: rgb(54, 54, 54);
    background-color: rgb(236, 236, 236);
    font-size: 1.2em;
    font-weight: 900;

}